{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
  <link rel="stylesheet" href="{% static 'custom.css' %}" />
  <title>infinite scroll</title>
  <script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>

  {% block extra_scripts %}
  {% endblock extra_scripts%}

</head>
{% block main %}
{% endblock main %}
